{% extends '_layout/front.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <main class="container">
        <h1>Hello {{ controller_name }}! ✅</h1>
    </main>
{% endblock %}
