<table>
    <tr>
        <td>
            Le compte << {{ user.email }} >> a bien été créé.
        </td>
    </tr>
    <tr>
        <td>
            Le mot de passe de ce compte est << {{ generated_password }} >>
        </td>
    </tr>
</table>